In [3]:
import pandas as pd
import matplotlib.pyplot as plt

ade_scratch_path = './ade_scratch.csv'
ade_coco_path = './ade_coco.csv'

In [11]:
df_scratch = pd.read_csv(ade_scratch_path)
df_coco = pd.read_csv(ade_coco_path)

In [16]:
merged_df = pd.merge(df_scratch, df_coco, on='id', how='inner')
merged_df

                                                    id      EoMT        FT
0                                                plate  0.952711  0.954085
1                           monitor, monitoring device  0.907917  0.901633
2                                                  van  0.905549  0.903576
3                                       fence, fencing  0.894674  0.869367
4    ashcan, trash can, garbage can, wastebin, ash ...  0.866745  0.840431
..                                                 ...       ...       ...
145                                               boat  0.115729  0.129580
146                                              clock  0.089112  0.000000
147                                 hood, exhaust hood  0.077146  0.000000
148                                             shower  0.000000  0.281772
149  toilet, can, commode, crapper, pot, potty, sto...  0.000000  0.000000

[150 rows x 3 columns]

In [18]:
merged_df['diff'] = merged_df['EoMT'] - merged_df['FT']

In [22]:
merged_df.sort_values(by='diff', ascending=False, inplace=True)

In [24]:
merged_df.to_csv('merged_df.csv', index=False)